<% include partials/header%>
<!--================Home Banner Area =================-->
<section class="home_banner_area">
  <div class="overlay"></div>
  <div class="banner_inner d-flex align-items-center">
    <div class="container">
      <div class="banner_content row">
        <div class="offset-lg-2 col-lg-8">
          <h3>AV FASHION
            <br /> GALLERY</h3>
          <p>Pamper your body!</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Hot Deals Area =================-->
<section class="hot_deals_area section_gap">
  <div class="testimonial-area bg-color ptb-100" id="section2">
    <div class="container">
      <div class="row">
        <div class="col-12  mx-auto text-center">
          <h3 class="text-center">Biz kimik?</h3>
          <p class="text-center">"AV " Fashion Gallery innovativliyi, müasir zövq və dəbi ozündə
            birləşdirərək baxımlı xanımlarımıza onların hər gününü daha özəl və fərqli hiss etdirməyi
            hədəfləyən bir globallaşan Azərbaycan geyim markasıdır.</p>
          <hr>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Hot Deals Area =================-->



<!--================ Subscription Area ================-->
<section class="subscription-area section_gap">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center">
          <h2>Sizə yaraşanı sifariş edin!</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div id="mc_embed_signup">
          <form class="row login_form" action="/request" method="POST">
            <div class="col-md-12 form-group">
              <input type="text" class="form-control" id="name" name="Ad" placeholder="Ad">
            </div>
            <div class="col-md-12 form-group">
              <input type="email" class="form-control" id="name" name="email" placeholder="email">
            </div>
            <div class="col-md-12 form-group">
              <input type="number" class="form-control" id="name" name="telefon" placeholder="telefon">
            </div>
            <div class="col-md-12 form-group">
              <textarea class="form-control" name="text" id="" cols="30" rows="10"></textarea>
            </div>
            <div class="col-md-12 form-group">
              <div class="creat_account">
                <input value="kisi" type="radio" id="f-option2" name="selector">
                <label for="f-option2">Kisi</label>
                <input value="qadin" type="radio" id="f-option2" name="selector">
                <label for="f-option2">Qadin</label>
              </div>
            </div>
            <div class="col-md-12 form-group">
              <button type="submit" value="submit" class="btn submit_btn">Təqdim edin</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<% include partials/footer%>